<p>
  <mat-toolbar color="primary" >
    <a routerLink="/" mat-mini-fab color="primary">
      <mat-icon>home</mat-icon>
    </a>
    <span class="ml20">Shiksha</span>
    <span class="spacer"></span>
    <a routerLink="/login" *ngIf="!loginService.isLoggedIn()" >
      <button mat-flat-button color="primary">
        <mat-icon>login</mat-icon>
        <span> Login</span>
      </button>
    </a>
    <a routerLink="/signup" *ngIf="!loginService.isLoggedIn()" >
      <button mat-flat-button color="primary" class="ml20">
        <mat-icon>person_add</mat-icon>
        <span> Signup</span>
      </button>
    </a>
    <a routerLink="/" *ngIf="loginService.isLoggedIn()" (click)="loginService.logout()">
      <button mat-flat-button color="primary">
        <mat-icon>logout</mat-icon>
        <span> logout</span>
      </button>
    </a>
  </mat-toolbar>
</p>